<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div> 
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'> Filter by: </div>
            <div class='col-md-4'>
                <input type="text"
                    [(ngModel)] = 'listFilter'/> <!--We two-way-bind with ngModel this listFilter with its property in product-list.component.ts, and  -->
            </div>
        </div>

        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3> <!-- by the imput -->
            </div>
        </div>
           <!-- We only want to display this list if it matches the search -->
        
           <div class='table-responsive'>
        
            <table class='table'
            *ngIf = 'products && products.length'> 
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' 
                            (click)='toggleImage()'>
                                <!-- if show image is true, display Hide, otherwise display Show --> 
                              {{showImage ? 'Hide' : 'Show'}} Image   
                            </button>
                        </th>
                        <th> product </th>
                        <th> code </th>
                        <th> available </th>
                        <th> price </th>
                        <th> 5 star rating </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = 'let product of products'>
                        <td> 
                            <img *ngIf='showImage'
                                [src]='product.imageUrl'
                                [title] = 'product.productName'
                                [style.width.px] = 'imageWidth'
                                [style.margin.px] = 'imageMargin'>
                        </td>
                        <td> {{ product.productName }} </td> <!-- this name will be taken from the product in product-list.component.ts -->
                        <td> {{ product.productCode }} </td>
                        <td> {{ product.releaseDate }} </td>
                        <td> {{ product.price }} </td>
                        <td> {{ product.starRating }} </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>